@{
    ViewData["Title"] = "Genres";
}

<div class="container-fluid">

<h2 class="mb-4 text-light text-center">@ViewData["Title"]</h2>
   
        <div class=" p-3">
        <table id="genresTable" class="display ">
                <thead class="thead-light">
                    <tr>
                        <th>Name</th>
                        <th>Number of Movies</th>
                        <th>Actions</th>
                    </tr>
                </thead>
            </table>
        </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#genresTable').DataTable({
                "ajax": {
                    "url": "/Genres/GetGenres",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "name" },
                    { "data": "movieCount" },
                    {
                        "data": "genreId",
                        "render": function (data, type, row) {
                            return `
                                <div class="btn-group gap-3" role="group">
                                    <a href="/Genres/Edit/${data}" class="btn btn-sm btn-outline-warning" title="Edit">
                                        <i class="bi bi-pencil-fill"></i>
                                    </a>
                                    <a href="/Genres/Delete/${data}" class="btn btn-sm btn-outline-danger" title="Delete">
                                        <i class="bi bi-trash-fill"></i>
                                    </a>
                                </div>
                            `;
                        },
                        "orderable": false
                    }
                ],
                "language": {
                    "emptyTable": "No genres available."
                },
                "responsive": true,
                "autoWidth": false
            });
        });
    </script>
}
