<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MovieFlix</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MovieFlix.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.2.0/css/all.min.css">


    @using Microsoft.AspNetCore.Identity
    @using MovieFlix.Models

    @inject SignInManager<ApplicationUser> SignInManager
    @inject UserManager<ApplicationUser> UserManager

</head>
<body>
    <nav class="navbar navbar-expand-lg" style="background: #2F4169;">
        <div class="container-fluid px-4">
            <!-- Brand links to Home/Index -->
            <a class="navbar-brand text-light fs-2" asp-controller="Home" asp-action="Index">MovieFlix</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain"
                    aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarMain">


                <form asp-action="Index" asp-controller="Home" id="form" class="d-flex mx-auto" role="search">
                    <input type="text"
                           name="searchQuery"
                           class="form-control me-2"
                           placeholder="Find what you want...."
                           value="@ViewBag.SearchQuery"
                           aria-label="Search" />
                    <button class="btn btn-outline-light" type="submit">Search</button>
                </form>


                <ul class="navbar-nav ms-auto align-items-center gap-3">
                    @await Html.PartialAsync("_LoginPartial")
                </ul>

            </div>
        </div>
    </nav>

        <div id="wrapper">
            <!-- Sidebar -->

            <ul class="sidebar navbar-nav">
                <li class="nav-item active">
                <a class="nav-link" asp-controller="Home" asp-action="Index">
                        <i class="fas fa-fw fa-home"></i>
                    <span class="fs-4">Home</span>
                    </a>
                </li>
                @if (User.IsInRole("SuperAdmin") || User.IsInRole("CinemaAdmin"))
                 {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Movie" asp-action="Index">
                            <i class="fas fa-fw fa-film"></i>
                        <span class="fs-4">Movies</span>
                        </a>
                    </li>
                }
            </ul>
      

            <div id="content-wrapper" class="container-fluid">
                <main role="main" class="flex-grow-1">
                    @RenderBody()
                </main>
            </div>
        </div>

    <footer class=" fs-4 text-center py-3 mt-auto">
        &copy; 2025 - MovieFlix
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  

</body>
</html>
