@model List<MovieFlix.ViewModels.AuditLogViewModel>
@{
    ViewData["Title"] = "Audit Logs";
}

<div class="container-fluid">
    <h2 class="text-center">Audit Logs</h2>

        <table id="auditTable" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Timestamp</th>
                    <th>Username</th>
                    <th>Action</th>
                    <th>Entity</th>
                    <th>Entity ID</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

</div>
@section Scripts {


    <script>
        $(document).ready(function () {
            $('#auditTable').DataTable({
                "ajax": {
                    "url": "@Url.Action("GetAuditLogs", "AuditLog")",
                    "dataSrc": "data"
                },
                "columns": [
                    { "data": "timestamp" },
                    { "data": "username" },
                    { "data": "action" },
                    { "data": "entityName" },
                    { "data": "entityId" },
                    { "data": "details" }
                ]
            });
        });
    </script>
}

